@import "base";
@import "portlets-tab";
@import "blueprints-tab";
@import "pagetree-tab";
@import "config-modal";
@import "message-modal";
@import "tutorials";
@import "colorpicker";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    &.resizing {
        cursor: ew-resize;

        #iframePanel ,
        #previewPanel {
            pointer-events: none;
        }
    }
}

#opc {
    display: flex;

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
    }

    .select-wrapper {
        position: relative;

        &:after {
            font-family: $fontawesome-mixed;
            font-weight: 600;
            content: "\f078";
            position: absolute;
            right: 1px;
            top: 4px;
            pointer-events: none;
            height: calc(100% - 8px);
            padding: 6px;
            background: white;
        }
    }

    .modal {
        font-size: 14px;
        color: $text-color;

        &.fade {
            transition-duration: 0.05s;
        }

        label {
            margin-bottom: 8px;
        }

        .form-control,
        .input-group-append,
        .input-group-prepend {
            margin-bottom: 16px;

            button, .btn {
                border: 1px solid $text-color;
                padding: 4px 12px;
                height: 38px;
                background-color: $bg-color;

                &.primary {
                    border: 1px solid $primary-color;
                    background-color: $primary-color;
                    color: $light-bg;
                }
            }
        }

        .input-group {
            .form-control {
                &:not(:last-child) {
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    border-right: none;
                }
                &:not(:first-child) {
                    &:not(.tt-input) {
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 0;
                        border-left: none;
                    }
                }
            }

            .twitter-typeahead {
                flex: 1 1 auto;
                width: 1%;
            }

            .input-group-text {
                background: none;
                border: 1px solid $text-color;
                border-left: none;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        .alert-info {
            background: $primary-lighter;
            border: 1px solid $primary-color;
            border-radius: 5px;
            color: $text-color;
            margin: 0;
        }

        .nav-tabs {
            margin: -24px;
            margin-bottom: 24px;
        }

        .modal-dialog {
            max-width: 550px;
            transition-duration: 0.15s;
        }

        .modal-content {
            border: none;
            border-radius: 0;
        }

        .modal-header {
            padding: 12px 24px;
            background-color: $primary-color;
            color: $bg-color;
            border: none;
            border-radius: 0;

            h5 {
                font-size: 16px;
                font-weight: normal;
            }

            .opc-header-btn {
                font-size: 16px;

                &:hover {
                    color: $primary-lighter;
                }
            }
        }

        .modal-body {
            padding: 0;
            margin: 24px;

            .form-group {
                margin: 0;
                padding: 0;
                margin-bottom: 16px;

                &.no-pb {
                    margin-bottom: 0;
                }
            }
        }

        .modal-footer {
            border: none;
            padding: 24px;
            padding-top: 0;
            margin-top: 24px;

            button {
                padding: 8px 32px;
            }

            > :not(:last-child) {
                margin-right: 16px;
            }
        }

        .progress-bar {
            background-color: $primary-color;
        }

        .iconpickerly {
            .popover-title {
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }

                i {
                    font-size: 38px;
                    display: block;
                    float: left;
                    min-width: 52px;
                    min-height: 16px;
                }

                .iconpicker-search {
                    width: calc(100% - 52px);
                    float: left;
                    margin-bottom: 0;
                }
            }

            .form-control {
                float: none;
            }

            .iconpicker-popover {
                width: 100%;
            }
        }
    }

    #loaderModal {
        .modal-dialog {
            top: 50%;
            transform: translate(0, -75%);
            margin: 0 auto;
        }
    }

    #opcSidebar {
        width: $sidebar-width;
        min-width: 144px;
        height: 100%;
        flex: none;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        #opcHeader {
            a {
                color: $brand-text;

                &:hover {
                    color: $text-color;
                }
            }

            .dropdown-menu {
                a {
                    color: $text-color;
                    padding: 8px;

                    i.fa {
                        color: $primary-color;
                    }
                }

                .divider {
                    margin: 0;
                }
            }
        }

        #editorNavbar {
            flex: none;
            display: flex;
            border: none;
            background-color: $light-bg;
            box-shadow: -4px 3px 6px rgba(0, 0, 0, 0.16);
            position: relative;

            #navScrollRight ,
            #navScrollLeft {
                background-color: $light-bg;
                color: $muted-text;

                &:hover {
                    color: $text-color;
                }
            }

            #navScrollLeft {
                margin-left: 8px;
            }

            #navScrollRight{
                margin-right: 8px;
            }

            #navtabs {
                overflow: hidden;
            }

            #opcTabs {
                overflow: hidden;
                flex: auto;
                margin: 0 17px;
                box-shadow: none;
                gap: 17px;

                .nav-link {
                    margin: 0;
                }
            }
        }

        #sidebarInnerPanel {
            overflow-y: scroll;
            padding: 24px;
            padding-right: 18px;
            flex: auto;

            .tab-content {
                overflow: visible;
                height: 100%;
            }

            #revisions .revisionBtn ,
            #blueprints .blueprintButton {
                display: block;
                background-color: $light-bg;
                border-radius: 5px;
                padding: 16px;
                margin: 0;
                margin-bottom: 16px;
                color: $text-color;
                &:hover {
                    text-decoration: none;
                }
            }

            #revisions {
                .revisionBtn {
                    &:hover {
                        background-color: $hover-btn-bg;
                    }
                }
            }
        }

        #sidebarFooter {
            width: 100%;
            box-shadow: -4px -3px 8px rgba(0, 0, 0, 0.16);
            flex: none;

            #savePublishPanel {
                padding: 16px;
                background-color: $bg-color;

                #unsavedState {
                    font-size: 8px;
                    position: relative;
                    top: -4px;
                    color: #ff9b66;
                }

                #footerDraftName {
                    cursor: pointer;
                    margin-bottom: 8px;
                    white-space: nowrap;

                    i {
                        margin-left: 8px;
                    }
                }

                #footerDraftNameInput {
                    border: none;
                    padding: 0;
                    margin-bottom: 8px;
                    width: 100%;
                }

                .opc-draft-status {
                    color: $muted-text;
                }

                #savePublishButtons {
                    margin-top: 16px;
                    display: flex;

                    .opc-btn-secondary {
                        display: block;
                        margin-right: 16px;
                        flex: 2;
                    }

                    .opc-btn-primary {
                        display: block;
                        flex: 3;
                    }
                }
            }

            #previewToolbar {
                background-color: $light-bg;
                padding: 17px 24px;
                display: flex;
                justify-content: space-between;
                gap: 24px;

                #displayWidths {
                    padding: 0;
                    margin-bottom: 0;
                    display: flex;
                    gap: 24px;

                    > li {
                        list-style: none;
                        width: 16px;
                        height: 16px;

                        > button {
                            color: $muted-text;

                            &.active {
                                color: $text-color;
                            }
                        }
                    }
                }
            }
        }

        #displayPreviews {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 0;
            background-color: $display-prevs-bg;

            ul {
                padding: 0;
                margin: 0;
                display: inline-block;
            }

            li {
                display: inline-block;
                padding: 15px 10px 10px 10px;

                &.active {
                    background-color: #d1d1d1;

                    a {
                        color: $text-color;
                    }
                }
            }

            a {
                color: #d1d1d1;

                &:hover,
                &:active,
                &:focus,
                &.active {
                    color: $text-color;
                }
            }
        }

        #disableVeil {
            position: absolute;
            top: 54px;
            left: 0;
            right: 0;
            bottom: 50px;
            background-color: rgba(67, 90, 107, 0.66);
        }
    }

    #resizer {
        width: 8px;
        margin-right: -8px;
        cursor: ew-resize;
        user-select: none;
        -webkit-user-select: none;
        z-index: 0;
    }

    #iframePanel,
    #previewPanel {
        height: 100%;
        text-align: center;
        background: $iframe-panel-bg;
        flex: auto;

        iframe {
            border: 0;
            width: 100%;
            height: 100%;
            transition: all .2s ease-in-out;
            display: block;
            margin: auto;
        }
    }

    #tourModal {
        .card {
            cursor: pointer;
            margin-bottom: 16px;

            &:hover {
                border-color: $primary-color;

                .card-header {
                    background-color: $primary-color;
                    background-image: none;
                    color: $light-bg;
                }
            }
        }
    }

    #publishModal {
        .modal-body {
            overflow: inherit;
        }
    }

    .banner-zones {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        > .banner-zone {
            position: absolute;
            background-color: rgba(192, 192, 192, 0.5);
            cursor: grabbing;
            overflow: hidden;

            > .zone-resizer {
                position: absolute;
                background-color: rgba(192, 192, 192, 0.5);
                width: 16px;
                height: 16px;
                right: 0;
                bottom: 0;
                cursor: se-resize;
            }

            &.selected {
                background-color: rgba(255, 0, 0, 0.5);

                > .zone-resizer {
                    background-color: rgba(255, 0, 0, 0.5);
                }
            }
        }
    }
}